absl-py==2.1.0
astunparse==1.6.3
autograd==1.6.2
backcall==0.2.0
cachetools==5.5.2
cloudpickle==2.2.1
cma==2.7.0
comm==0.1.4
decorator==5.1.1
flake8==5.0.4
flatbuffers==1.12
fonttools==4.38.0
future==1.0.0
gast==0.4.0
google-auth==2.39.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.62.3
h5py==3.8.0
importlib-metadata==4.2.0
ipython==7.34.0
ipywidgets==8.1.7
jedi==0.19.2
joblib==1.1.0
jupyterlab_widgets==3.0.15
keras==2.9.0
Keras-Preprocessing==1.1.2
libclang==18.1.1
Markdown==3.3.7
matplotlib-inline==0.1.6
mccabe==0.7.0
mkl-fft==1.3.1
mkl-service==2.4.0
networkx==2.6.3
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.6.0.163
oauthlib==3.2.2
olefile==0.46
opt-einsum==3.3.0
pandas==1.2.4
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
prompt_toolkit==3.0.48
protobuf==3.19.6
ptyprocess==0.7.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycairo==1.20.0
pycodestyle==2.9.1
pyflakes==2.5.0
pygmo==2.9
pymoo==0.5.0
pytz==2021.3
PyYAML==6.0.1
reportlab==3.5.67
requests-oauthlib==2.0.0
rsa==4.9.1
Sphinx==1.8.5
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
Theano==1.0.5
tornado==5.1.1
tqdm==4.64.0
traitlets==5.9.0
urllib3==1.26.9
vina==1.2.7
wcwidth==0.2.5
Werkzeug==2.1.2
widgetsnbextension==4.0.14
wrapt==1.14.1
